body{
	font-family: Arial, Helvetica, sans-serif;
}#msg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 1em;
	padding: .5em;
	background-color: #333;
	color: #eee;
	font-weight: bold;	
	text-align: center;
}#game{
	width: 400px;
	margin: 0 auto;
}
